kody/SystemyZewnetrzne/WebContent/WEB-INF/ServicesSpecification/DataModel/StatusZleceniaPrzelewu.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Main/ServicesSpecification/" xmlns:xsd_1="http://Main/ServicesSpecification/">
  <xsd:complexType name="StatusZleceniaPrzelewu">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="kod" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>