kody/EBankMod/Main/ServicesIdentification/ServicesConsolidation/KontrolaPrzeplywowFinansowych.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="KontrolaPrzeplywowFinansowych" targetNamespace="http://Main/ServicesIdentification/KontrolaPrzeplywowFinansowych/" xmlns:bons0="http://Main/ServicesIdentification/KontrolaPrzeplywowFinansowych/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Main/ServicesIdentification/KontrolaPrzeplywowFinansowych/" xmlns:bons0="http://pw.ee.mgr.ebanking/ServicesIdentification/KontrolaPrzeplywowFinansowych/" xmlns:bons2="http://Main/ServicesIdentification/KontrolaPrzeplywowFinansowych/" xmlns:bons3="http://Main/ServicesSpecification/">
            <xsd:import namespace="http://Main/ServicesSpecification/" schemaLocation="../../ServicesSpecification/DataModel/ZleceniePrzelewuMiedzynarodowego.xsd"/>
            <xsd:import namespace="http://Main/ServicesSpecification/" schemaLocation="../../ServicesSpecification/DataModel/WynikWeryfikacjiZleceniaPrzelewu.xsd"/>
            <xsd:import namespace="http://Main/ServicesSpecification/" schemaLocation="../../ServicesSpecification/DataModel/WynikWeryfikacjiMozliwosciWykonaniaPrzelewuMiedzynarodowego.xsd"/>
      <xsd:element name="inicjujWykonaniePrzelewu">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="zlecenie" type="bons3:ZleceniePrzelewuMiedzynarodowego"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowegoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowego" type="bons3:WynikWeryfikacjiMozliwosciWykonaniaPrzelewuMiedzynarodowego"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowego">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="zlecenie" type="bons3:ZleceniePrzelewuMiedzynarodowego"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="weryfikujZleceniePrzelewuMiedzynarodowegoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wynikWeryfikacjiZleceniaPrzelewu" type="bons3:WynikWeryfikacjiZleceniaPrzelewu"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="weryfikujZleceniePrzelewuMiedzynarodowego">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="zlecenie" type="bons3:ZleceniePrzelewuMiedzynarodowego"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="inicjujWykonaniePrzelewuRequest">
    <wsdl:part element="bons0:inicjujWykonaniePrzelewu" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowegoRequest">
    <wsdl:part element="bons0:weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowego" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowegoResponse">
    <wsdl:part element="bons0:weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowegoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="weryfikujZleceniePrzelewuMiedzynarodowegoRequest">
    <wsdl:part element="bons0:weryfikujZleceniePrzelewuMiedzynarodowego" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="weryfikujZleceniePrzelewuMiedzynarodowegoResponse">
    <wsdl:part element="bons0:weryfikujZleceniePrzelewuMiedzynarodowegoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="KontrolaPrzeplywowFinansowych">

    <wsdl:operation name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowego">
      <wsdl:input message="bons0:weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowegoRequest"/>
      <wsdl:output message="bons0:weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowegoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="weryfikujZleceniePrzelewuMiedzynarodowego">
      <wsdl:input message="bons0:weryfikujZleceniePrzelewuMiedzynarodowegoRequest"/>
      <wsdl:output message="bons0:weryfikujZleceniePrzelewuMiedzynarodowegoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KontrolaPrzeplywowFinansowychBinding" type="bons0:KontrolaPrzeplywowFinansowych">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowego">
  		<soap:operation soapAction="http://Main/ServicesIdentification/KontrolaPrzeplywowFinansowych/weryfikacjaMozliwosciWykonaniaPrzelewuMiedzynarodowego"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="weryfikujZleceniePrzelewuMiedzynarodowego">
  		<soap:operation soapAction="http://Main/ServicesIdentification/KontrolaPrzeplywowFinansowych/weryfikujZleceniePrzelewuMiedzynarodowego"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KontrolaPrzeplywowFinansowychService">
  	<wsdl:port binding="bons0:KontrolaPrzeplywowFinansowychBinding" name="KontrolaPrzeplywowFinansowychServicePort">
  		<soap:address location="http://localhost:9084/weryfikator/services/KontrolaPrzeplywowFinansowychWS"/>
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>