trunk/kody/EBankMod/Main/ServicesSpecification/DataModel/ZleceniePrzelewuKrajowego.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://Main/ServicesSpecification/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ZleceniePrzelewuKrajowego">
    <xsd:sequence>
      <xsd:element name="nrRachNadawcy" type="xsd:string"/>
      <xsd:element name="nrRachOdbiorcy" type="xsd:string"/>
      <xsd:element name="tytul" type="xsd:string"/>
      <xsd:element name="opis" type="xsd:string"/>
      <xsd:element name="kwota" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>